.header-panel{
    flex-grow: 1;
}

.header-panel-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-panel-right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.commandRow{
    padding:0 16px;
}
.inputRow{
    height:150px;
    align-items: center;
    display: flex;
justify-content: space-around;
}

.textSearchCell{
    flex-grow: 1;
}
.buttonRow{
    display: flex;
    justify-content: flex-end;
}
